body{
  width: 65%;
  margin-left: 20%;
}
h1 {
  color: purple;
  text-align: center;
  font-family: Monaco, monospace;
  font-size: 3vw;
}
h3 {
  color: lightblue;
  text-align: center;
  font-family: Monaco, monospace;
  font-style: italic;
}
#team{
  color: purple;
}
h4 {
  text-align: center;
  font-family: Monaco, monospace;
  font-style: bold;
}
p {
  font-family: Monaco, monospace;
}
#ref {
  font-family: Monaco, monospace;
}

#hzbarchart {
  height: 230px;
  font-family: Monaco, monospace;
}

#id-74 {
  color: lightblue;
  font-weight: bold;
  font-family: Monaco, monospace;
}
text{
  justify-content: center;
}

.divider {
  display: flex;
}
.divider:before, .divider:after {
  content: "";
  flex: 1;
}

.line {
  align-items: center;
  margin: 1em -1em;
}
.line:before, .line:after {
  height: 1px;
  width: 100%;
  margin: 0 1em;
}

.glow:before, .glow:after {
  height: 6px;
  -webkit-filter: blur(1px);
  border-radius: 1px;
}
.glow:before {
  background: linear-gradient(to right, blue, hotpink);
}
.glow:after {
  background: linear-gradient(to left, blue, hotpink);
}

